html {
    height: 100%;
}

* {
    box-sizing: border-box;

}

/*Header */
#search {
    display: block;
    width: 430px;
    margin: 25px auto;

}

.columns {
    margin: 25px auto;
    max-width: 1040px;
    /* pouzit nth element na padding pre galerie? limit je 980px*/
    text-align: center;
}

.gallery {
    max-width: 245px;
    display: inline-block;
    padding: 30px;
}

img {
    max-width: 100%;
}

/* -------  Overlay  -------- */
.lb-data .lb-details {
    max-width: 600px;
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
    line-height: 1.1em;
}
.lb-closeContainer {
    display: inline-block;
    float: right;
}
/* -------  Footer -------- */
.main-footer {
    text-align: center;
}
/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
